<ul class="list-group">
  <li class="list-group-item">
    <a class="btn btn-outline-primary btn-block" href="{% url 'taxi:index' %}">Home page</a>
  </li>
  <li class="list-group-item">
    <a class="btn btn-outline-primary btn-block" href="{% url 'taxi:manufacturer-list' %}">Manufacturers</a>
  </li>
  <li class="list-group-item">
    <a class="btn btn-outline-primary btn-block" href="{% url 'taxi:car-list' %}">Cars</a>
  </li>
  <li class="list-group-item">
    <a class="btn btn-outline-primary btn-block" href="{% url 'taxi:driver-list' %}">Drivers</a>
  </li>
</ul>
